
    <nz-form-label [nzXl]="4" [nzMd]="6" [nzXs]="24" nzFor="fileName" nzRequired>{{'fileName' | translate}}</nz-form-label>

    <nz-upload [nzFileList]="requestFiles" [nzBeforeUpload]="beforeUpload"
    [nzRemove]="removeAttachment">
      <button nz-button><i nz-icon nzType="upload"></i><span>Click to Upload</span></button>
    </nz-upload>

    <div nz-row class="button-row">
      <div nz-col [nzXl]="4" [nzMd]="4" [nzXs]="4" [nzOffset]=20>
          <button nz-button [nzType]="'primary'" (click)="upload()"  >
              {{'save'| translate}}</button>
          
      </div>
    </div>


<!-- <form nz-form [formGroup]="formGroup">
  <nz-form-item>
   <nz-form-control [nzXl]="6" [nzMd]="6" [nzXs]="24">
      <input nz-input formControlName="empId" id="empId">

      <nz-form-explain *ngIf="formGroup.get('empId').dirty && formGroup.get('empId').errors">
        <ng-container *ngIf="formGroup.get('empId').errors.required">
          {{'ErrorEmpId' | translate}}
        </ng-container>
        <ng-container *ngIf="formGroup.get('empId').errors.maxlength">
          error:exceed the max lenght!
        </ng-container>

      </nz-form-explain>
    </nz-form-control> 

    <nz-form-label [nzXl]="4" [nzMd]="6" [nzXs]="24" nzFor="transportation" nzRequired>{{'transportation' | translate}}</nz-form-label>
    <nz-form-control [nzXl]="6" [nzMd]="6" [nzXs]="24">
      <nz-select style="width: 100%;" formControlName="transportation" id="transportation" nzAllowClear nzPlaceHolder="Choose">
        <nz-option *ngFor="let option of transportations" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
      </nz-select>
      <nz-form-explain *ngIf="formGroup.get('transportation').dirty && formGroup.get('transportation').errors">{{'ErrorTransportation'
        | translate}}</nz-form-explain>
    </nz-form-control> 

  </nz-form-item>

</form> -->