<div>
    <h3>This is a quick startup demo for:</h3>
    <ul>
        <li>Information management(Data CRUD)</li>
        <li>Business process management(Workflow)</li>
        <li>Data visualization</li>
        <li>Responsive UI</li>
    </ul>
</div>
<nz-divider></nz-divider>
<div>
    <h3>Main opensource framework used by the system:</h3>
    <ul>
        <li>Angular</li>
        <li>Ant Design of Angular</li>
        <li>Ant Design Mobile of Angular</li>
        <li>AntV</li>
        <li>Spring</li>
        <li>Mybatis</li>
        <li>Activiti</li>
    </ul>
</div>